/* App.css */
body {
  background-image: url('./components/Images/BACKGROUND.png');
  background-size: cover; /* Ensure the image covers the entire background */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}
/* Main.css */

/* Default styles for desktop view */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically */
}

.text-info {
  flex: 1;
  padding: 20px;
  order: 1; /* Set the initial order */
}

.image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2; /* Set the initial order */
}

.image-container img {
  margin-top: 1.2rem;
  max-width: 80%;
  border-radius: 10px;
  height: auto;
}

button {
  background-color: orange;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  height: 4rem;
  width: 30rem;
  border-radius: 10px;
  border: none;
  margin-left: 5rem;
}

h1 {
  font-size: 5rem;
}

p {
  font-weight: 300;
}

/* Media query for mobile view */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column; /* Change to column layout for mobile */
  }

  .text-info {
    order: 2; /* Change the order of the div */
  }

  .image-container {
    order: 1; /* Change the order of the div */
  }
}
